@model NNMetrics.Models.Metrics

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/ProjectPredictionBasic.css" />
<h2>Create</h2>

<h4>Metrics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" value=@ViewBag.currentUser readonly />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureDate" class="control-label"></label> <font weight="bold" color="darkblue"></font>include the time.</font>
    <input asp-for="MeasureDate" class="form-control" />
    <span asp-validation-for="MeasureDate" class="text-danger"></span>
</div>
            <div class="form-group">
                <label asp-for="POSatisfaction" class="control-label"></label> <font weight="bold" color="darkblue">from 0 to 5.</font>
    <input asp-for="POSatisfaction" class="form-control" min="0" max="5" />
    <span asp-validation-for="POSatisfaction" class="text-danger"></span>
</div>
            <div class="form-group">
                <label asp-for="CompletedForecast" class="control-label"></label> <font weight="bold" color="darkblue">percentage from 0 to 100%.</font>
    <input asp-for="CompletedForecast" class="form-control" min="0" max="100" />
    <span asp-validation-for="CompletedForecast" class="text-danger"></span>
</div>
            <div class="form-group">
                <label asp-for="MTTR" class="control-label"></label> <font weight="bold" color="darkblue">in hours.</font>
                <input asp-for="MTTR" class="form-control" min="0" max="500" />
                <span asp-validation-for="MTTR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDeployments" class="control-label"></label> <font weight="bold" color="darkblue">per day.</font>
    <input asp-for="NumberOfDeployments" class="form-control" min="0" max="500" />
    <span asp-validation-for="NumberOfDeployments" class="text-danger"></span>
</div>
            <div class="form-group">
                <input type="submit" value="Create" style="float: left;" class="button28 button28" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="button21 button21" style="float: left;width:180px;" onclick="location.href='@Url.Action("Index", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Back to list</font></button>
    <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
