@model NNMetrics.Models.Metrics

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
@ViewBag.currentUser
<h4>Metrics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" value=@ViewBag.currentUser readonly />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureDate" class="control-label"></label>
                <input asp-for="MeasureDate" class="form-control" />
                <span asp-validation-for="MeasureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POSatisfaction" class="control-label"></label>
                <input asp-for="POSatisfaction" class="form-control" />
                <span asp-validation-for="POSatisfaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedForecast" class="control-label"></label>
                <input asp-for="CompletedForecast" class="form-control" />
                <span asp-validation-for="CompletedForecast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MTTR" class="control-label"></label>
                <input asp-for="MTTR" class="form-control" />
                <span asp-validation-for="MTTR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDeployments" class="control-label"></label>
                <input asp-for="NumberOfDeployments" class="form-control" />
                <span asp-validation-for="NumberOfDeployments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
