@model NNMetrics.Models.Metrics

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/ProjectPredictionBasic.css" />
<h2>Edit</h2>

<h4>Metrics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" readonly />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" readonly />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductOwner" class="control-label"></label>
                <input asp-for="ProductOwner" class="form-control" />
                <span asp-validation-for="ProductOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScrumMaster" class="control-label"></label>
                <input asp-for="ScrumMaster" class="form-control" />
                <span asp-validation-for="ScrumMaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureDate" class="control-label"></label>
                <input asp-for="MeasureDate" class="form-control" />
                <span asp-validation-for="MeasureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POSatisfaction" class="control-label"></label>
                <input asp-for="POSatisfaction" class="form-control" />
                <span asp-validation-for="POSatisfaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedForecast" class="control-label"></label>
                <input asp-for="CompletedForecast" class="form-control" />
                <span asp-validation-for="CompletedForecast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MTTR" class="control-label"></label>
                <input asp-for="MTTR" class="form-control" />
                <span asp-validation-for="MTTR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDeployments" class="control-label"></label>
                <input asp-for="NumberOfDeployments" class="form-control" />
                <span asp-validation-for="NumberOfDeployments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" style="float: left;" class="button28 button28" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="button21 button21" style="float: left;width:180px;" onclick="location.href='@Url.Action("Index", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Back to list</font></button>
    <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}