@model NNMetrics.Models.Teams

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Teams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teamName" class="control-label"></label>
                <input asp-for="teamName" class="form-control" />
                <span asp-validation-for="teamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="button21 button21" style="float: left;width:180px;" onclick="location.href='@Url.Action("Index", "Teams")';return false;"><font style="font-weight:bold;font-size:12px;">Back to list</font></button>
    <br />
</div>