@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pr. Beatrixlaan 35<br />
    2595 AK Den Haag, Netherlands<br />
    <abbr title="Phone">P:</abbr>
    +31 70 513 0303
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Anurag.Shrivastava@nn-group.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Anurag.Shrivastava@nn-group.com">Marketing@example.com</a>
</address>
